In [291]:
import pandas as pd
import seaborn as sns
import numpy as np

In [307]:
df_in = pd.read_csv("/Users/robjohns/Data/Metis/HDfailure/Data/model_2015_ST4000DM000.csv")
dfa_in = pd.read_csv("/Users/robjohns/Data/Metis/HDfailure/Data/model_2016_ST4000DM000.csv")
dfb_in = pd.read_csv("/Users/robjohns/Data/Metis/HDfailure/Data/model_2017_ST4000DM000.csv")
dfc_in = pd.read_csv("/Users/robjohns/Data/Metis/HDfailure/Data/model_2018_ST4000DM000.csv")

In [308]:
df=df_in
dfa=dfa_in
dfb=dfb_in
dfc=dfc_in

In [309]:
for column in df.columns:
    if df[column].count() == 0:
        del df[column]

for column in dfa.columns:
    if dfa[column].count() == 0:
        del dfa[column]    
        
for column in dfb.columns:
    if dfb[column].count() == 0:
        del dfb[column]    
        
for column in dfc.columns:
    if dfc[column].count() == 0:
        del dfc[column]

In [256]:
df=df.groupby(['serial_number','failure'], as_index=False).apply(lambda x: x.iloc[:-2])
dfa=dfa.groupby(['serial_number','failure'], as_index=False).apply(lambda x: x.iloc[:-2])
dfb=dfb.groupby(['serial_number','failure'], as_index=False).apply(lambda x: x.iloc[:-2])
dfc=dfc.groupby(['serial_number','failure'], as_index=False).apply(lambda x: x.iloc[:-2])

In [310]:
df=df.groupby(['serial_number','failure']).sum().reset_index()
dfa=dfa.groupby(['serial_number','failure']).sum().reset_index()
dfb=dfb.groupby(['serial_number','failure']).sum().reset_index()
dfc=dfc.groupby(['serial_number','failure']).sum().reset_index()
df.head()

,serial_number,failure,capacity_bytes,smart_1_normalized,smart_1_raw,smart_3_normalized,smart_3_raw,smart_4_normalized,smart_4_raw,smart_5_normalized,...,smart_198_normalized,smart_198_raw,smart_199_normalized,smart_199_raw,smart_240_normalized,smart_240_raw,smart_241_normalized,smart_241_raw,smart_242_normalized,smart_242_raw
0,S3000FZ5,0,484095230631936,13923.0,1.387917e+10,11495.0,0.0,12100.0,605.0,12100.0,...,12100.0,0.0,24200.0,0.0,12100.0,1.675017e+16,12100.0,1.332760e+12,12100.0,1.888155e+12
1,S3000QAP,0,484095230631936,13942.0,1.549529e+10,11263.0,0.0,12100.0,783.0,12100.0,...,12100.0,0.0,24200.0,0.0,12100.0,6.014590e+05,12100.0,1.888530e+12,12100.0,1.278215e+13
2,S3002HH0,0,484095230631936,13860.0,1.321871e+10,11132.0,0.0,12100.0,1230.0,12100.0,...,12100.0,0.0,24200.0,0.0,12100.0,2.323410e+05,12100.0,9.760988e+11,12100.0,3.283178e+12
3,S30034E6,0,484095230631936,13937.0,1.477775e+10,11495.0,0.0,12100.0,605.0,12100.0,...,12100.0,0.0,24200.0,0.0,12100.0,1.662708e+16,12100.0,1.352685e+12,12100.0,2.761480e+12
4,S3003GAB,0,484095230631936,13887.0,1.372514e+10,11157.0,0.0,12100.0,949.0,12100.0,...,12100.0,0.0,24200.0,0.0,12100.0,3.432260e+05,12100.0,1.166102e+12,12100.0,5.174248e+12

In [296]:
columns = list(df) 
for feature in columns[4:]: 

    yo=dfa['failure'].corr(dfa[feature])
        #df[df[feature].corr()['failure']
    if np.isnan(yo):
        print ('Deleted', feature)
        del df[feature]
        del dfa[feature]
        del dfb[feature]
        del dfc[feature]
    elif abs(yo)<=0.01:
        print ('Deleted', feature)
        del df[feature]
        del dfa[feature]
        del dfb[feature]
        del dfc[feature]
    else:
        print(yo, "    ", feature)

0.012204179426355443      smart_1_raw
Deleted smart_3_normalized
Deleted smart_3_raw
Deleted smart_4_normalized
0.029877648684175525      smart_4_raw
Deleted smart_5_normalized
0.05925939631679626      smart_5_raw
0.015181527386700222      smart_7_normalized
Deleted smart_7_raw
-0.024362504044086776      smart_9_normalized
0.08818253632049745      smart_9_raw
Deleted smart_10_normalized
Deleted smart_10_raw
Deleted smart_12_normalized
Deleted smart_12_raw
Deleted smart_183_normalized
0.024797311574009856      smart_183_raw
Deleted smart_184_normalized
Deleted smart_184_raw
Deleted smart_187_normalized
0.16380161398445336      smart_187_raw
Deleted smart_188_normalized
Deleted smart_188_raw
Deleted smart_189_normalized
Deleted smart_189_raw
0.010310870479532577      smart_190_normalized
Deleted smart_190_raw
Deleted smart_191_normalized
Deleted smart_191_raw
Deleted smart_192_normalized
Deleted smart_192_raw
Deleted smart_193_normalized
0.026252376983881377      smart_193_raw
Deleted smart_194_normalized
Deleted smart_194_raw
Deleted smart_197_normalized
0.0590506325386402      smart_197_raw
Deleted smart_198_normalized
0.0590506325386402      smart_198_raw
Deleted smart_199_normalized
0.05381783015172519      smart_199_raw
Deleted smart_240_normalized
0.013067834477936465      smart_240_raw
Deleted smart_241_normalized
Deleted smart_241_raw
Deleted smart_242_normalized
0.09608951427032314      smart_242_raw

In [311]:
df.count()

serial_number           10353
failure                 10353
capacity_bytes          10353
smart_1_normalized      10353
smart_1_raw             10353
smart_3_normalized      10353
smart_3_raw             10353
smart_4_normalized      10353
smart_4_raw             10353
smart_5_normalized      10353
smart_5_raw             10353
smart_7_normalized      10353
smart_7_raw             10353
smart_9_normalized      10353
smart_9_raw             10353
smart_10_normalized     10353
smart_10_raw            10353
smart_12_normalized     10353
smart_12_raw            10353
smart_183_normalized    10353
smart_183_raw           10353
smart_184_normalized    10353
smart_184_raw           10353
smart_187_normalized    10353
smart_187_raw           10353
smart_188_normalized    10353
smart_188_raw           10353
smart_189_normalized    10353
smart_189_raw           10353
smart_190_normalized    10353
smart_190_raw           10353
smart_191_normalized    10353
smart_191_raw           10353
smart_192_normalized    10353
smart_192_raw           10353
smart_193_normalized    10353
smart_193_raw           10353
smart_194_normalized    10353
smart_194_raw           10353
smart_197_normalized    10353
smart_197_raw           10353
smart_198_normalized    10353
smart_198_raw           10353
smart_199_normalized    10353
smart_199_raw           10353
smart_240_normalized    10353
smart_240_raw           10353
smart_241_normalized    10353
smart_241_raw           10353
smart_242_normalized    10353
smart_242_raw           10353
dtype: int64

In [298]:
dfa.count()

serial_number           10606
failure                 10606
capacity_bytes          10606
smart_1_normalized      10606
smart_1_raw             10606
smart_4_raw             10606
smart_5_raw             10606
smart_7_normalized      10606
smart_9_normalized      10606
smart_9_raw             10606
smart_183_raw           10606
smart_187_raw           10606
smart_190_normalized    10606
smart_193_raw           10606
smart_197_raw           10606
smart_198_raw           10606
smart_199_raw           10606
smart_240_raw           10606
smart_242_raw           10606
dtype: int64

In [299]:
dfb.count()

serial_number           3885
failure                 3885
capacity_bytes          3885
smart_1_normalized      3885
smart_1_raw             3885
smart_4_raw             3885
smart_5_raw             3885
smart_7_normalized      3885
smart_9_normalized      3885
smart_9_raw             3885
smart_183_raw           3885
smart_187_raw           3885
smart_190_normalized    3885
smart_193_raw           3885
smart_197_raw           3885
smart_198_raw           3885
smart_199_raw           3885
smart_240_raw           3885
smart_242_raw           3885
dtype: int64

In [300]:
dfc.count()

serial_number           7894
failure                 7894
capacity_bytes          7894
smart_1_normalized      7894
smart_1_raw             7894
smart_4_raw             7894
smart_5_raw             7894
smart_7_normalized      7894
smart_9_normalized      7894
smart_9_raw             7894
smart_183_raw           7894
smart_187_raw           7894
smart_190_normalized    7894
smart_193_raw           7894
smart_197_raw           7894
smart_198_raw           7894
smart_199_raw           7894
smart_240_raw           7894
smart_242_raw           7894
dtype: int64

In [312]:
df_tot= pd.concat([df, dfa], ignore_index=True)
df_tot= pd.concat([df_tot, dfb], ignore_index=True)
df_tot= pd.concat([df_tot, dfc], ignore_index=True)

In [301]:
df_past=pd.concat([df, dfa], ignore_index=True)
df_past=pd.concat([df_past, dfb], ignore_index=True)

df_2018=dfc

In [302]:
df_past.count()

serial_number           24844
failure                 24844
capacity_bytes          24844
smart_1_normalized      24844
smart_1_raw             24844
smart_4_raw             24844
smart_5_raw             24844
smart_7_normalized      24844
smart_9_normalized      24844
smart_9_raw             24844
smart_183_raw           24844
smart_187_raw           24844
smart_190_normalized    24844
smart_193_raw           24844
smart_197_raw           24844
smart_198_raw           24844
smart_199_raw           24844
smart_240_raw           24844
smart_242_raw           24844
dtype: int64

In [148]:
10353+10606+3885+7894

32738

In [ ]:
df3=df.groupby(['serial_number','failure']).mean().reset_index()
#df3.sort_values(by=['serial_number'])
df3.head()

In [ ]:
mask = ((df['failure'] == 1))
df2m=df[mask]
df2m.serial_number.value_counts()
#df2m.size
#df2m.head()

In [ ]:
mask = ((df['serial_number'] == "S3006YCG"))
#        & (df["STATION"] == "59 ST"))
df2m=df[mask]

In [ ]:
df2m

In [57]:
df2=df

In [ ]:
df2=df.groupby(['serial_number','failure']).sum().reset_index()
#df3.sort_values(by=['serial_number'])

In [313]:
df_tot.dropna(inplace=True)

In [ ]:
df_pair=df2

In [314]:
df_tot.to_pickle("/Users/robjohns/Data/Metis/HDfailure/Data/neatures_pickle.pkl")

In [303]:
df_past.to_pickle("/Users/robjohns/Data/Metis/HDfailure/Data/past_pickle.pkl")

In [304]:
df_2018.to_pickle("/Users/robjohns/Data/Metis/HDfailure/Data/2018_pickle.pkl")

In [ ]:
use_df = pd.read_pickle("2016_pickle.pkl")

In [ ]:
del df_pair['date']
del df_pair['serial_number']
del df_pair['model']
del df_pair['capacity_bytes']

In [ ]:
df_pair.dropna(inplace=True)
df_pair.count()

In [ ]:
use_df.head(20)

In [ ]:
pp = sns.pairplot(data=df,
                  y_vars=['failure'],
                  x_vars=['smart_1_normalized','smart_3_normalized','smart_4_normalized','smart_5_normalized'])

In [ ]:
pp = sns.pairplot(data=df,
                  y_vars=['failure'],
                  x_vars=['smart_7_normalized','smart_9_normalized','smart_10_normalized','smart_12_normalized'])

In [ ]:
pp = sns.pairplot(data=df,
                  y_vars=['failure'],
                  x_vars=['smart_183_normalized','smart_184_normalized','smart_187_normalized','smart_188_normalized'])

In [ ]:
pp = sns.pairplot(data=df,
                  y_vars=['failure'],
                  x_vars=['smart_189_normalized','smart_190_normalized','smart_191_normalized','smart_192_normalized'])

In [ ]:
pp = sns.pairplot(data=df,
                  y_vars=['failure'],
                  x_vars=['smart_193_normalized','smart_194_normalized','smart_197_normalized','smart_198_normalized'])

In [ ]:
pp = sns.pairplot(data=df,
                  y_vars=['failure'],
                  x_vars=['smart_199_normalized','smart_240_normalized','smart_241_normalized','smart_242_normalized'])

In [ ]:
sns.stripplot(x=df['failure'], y=df['smart_3_raw']);

In [ ]:
sns.stripplot(x=df['failure'], y=df['smart_197_raw']);

In [ ]:
g=sns.regplot(x=df['failure'], y=df['smart_4_normalized']);

In [ ]:
g=sns.regplot(x=df['failure'], y=df['smart_5_normalized']);

In [ ]:
g=sns.regplot(x=df['failure'], y=df['smart_12_normalized']);

In [ ]:
g=sns.regplot(x=df['failure'], y=df['smart_184_normalized']);

In [ ]:
g=sns.regplot(x=df['failure'], y=df['smart_242_raw']);

In [ ]:
b=sns.regplot(x=df['failure'], y=df['smart_199_raw']);

In [ ]:
sns.stripplot(x=df['failure'], y=df['smart_183_normalized']);

In [ ]:
sns.regplot(x=df['smart_198_raw'], y=df['smart_197_raw'])

In [ ]:
sns.pairplot(df_pair)

In [ ]:
df.describe()

In [ ]:
df.count()

In [ ]:
df = df.smart_2_normalized.drop

In [ ]:
df.head()